@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

button{
  /* background: #8B7B57; */
  background: #BDA555;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
 button:hover{
  background: #b8a772;
 }

 .title{
  margin: 30px auto;
  font-weight: 600;
  font-size: 2rem;
}

/* NAVBAR */
header{
  min-height: 80vh;
  background: no-repeat center/cover url('./images/granada_background.jpg');
  color: #fff;
  margin-bottom: 0;
}

.header-content{
  max-width: 70%;
  max-height: 70%;
  margin: 30px auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.432);
  padding: 20px;
  border-radius: 10px;
}

.header-content h1{
  font-size: 4rem;
  margin-bottom: 10px;
}

.header-content p{
  font-weight: bold;
  margin-bottom: 20px;
}


nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
}

#logo{
  font-size: 1rem;
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav li{
  margin-right: 10px;
}

nav a{
  color: #fff; 
}

/* PACKAGES */
#packages{
  min-height: 80vh;
  background: #e1e8f7;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* PACKAGES CARDS */
.packages-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.card{
  width: 250px;
  height: 350px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px;
}

.card img{
  width: 100%;
  max-height: 65%;
  object-fit: cover;
}

.card-content{
  color: #000;
  margin: auto;
  
}

.card-content h1{
  font-size: 1.2rem;
  margin-bottom: 2px;
}

.card-content ul{
  list-style: none;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.308);
}

.fas{
  margin-right: 10px;
}

.price-tag{
  position: absolute;
  padding: 2px 15px;
  background: darkblue;
  color: #fff;
  top: 60%;
  border-radius: 0 10px 10px 0;
  font-weight: bold;
}

/* SERVICES */
#services{
    min-height: 80vh;
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* SERVICES CARDS */
.services-cards{
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.services-cards .card{
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.services-cards .card i{
  font-size: 50px;
  height: 80px;
  width: 80px;
  padding: 15px;
  border-radius: 50px;
}

.info{
  background: darkblue;
}

/* CONTACT */
.contact{
  height: 100vh;
  background: #e1e8f7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.contact-info{
  height: 250px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  position: absolute;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  left: 10%;
  z-index: 10;
}

.contact-info ul{
  list-style: none;
  margin: auto;
  color: rgba(0, 0, 0, 0.308);
}

.contact-info li{
  margin: 20px;
}

/* MAP */
#map{
  margin: auto;
  height: 60%;
  width: 70%;
  border-radius: 10px;
}

/* BACK TO TOP BUTTON */
#myBtn{
  position: fixed;
  left: 50px;
  bottom: 50px;
  z-index: 10;
  background: #000;
  border: none; 
  outline: none; 
  color: white; 
  cursor: pointer;
  padding: 15px; 
}

#myBtn i{
  margin: auto;
}

#myBtn:hover{
  background: #272727;
}

/* RESPONSIVE */
@media(max-width:769px){
  /* PACKAGES */
  .packages-cards{
    flex-direction: column;
  }
  .packages-title{
    margin: 20px 0px;
  }
  .card{
    margin-bottom: 20px;
    width: 300px;
    height: 400px;
  }
  /* SERVICES */
  .services-cards{
    flex-direction: column;
  }
  
  /* CONTACT INFO */
  .contact-info{
    margin: 20px auto;
    position: static;
    height: 200px;
  }

  #map{
    height: 60%;
  }
}