* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  
}


body {
  background: url(images/mont_fuji.jpg) no-repeat; 
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: #000;
}

/* NAV */

.nav {
  background: rgba(255, 255, 255, 0.5);
}

.nav h1{
  color: #f0f0f0;
}

.nav ul{
  min-width: 20%;
  display: flex;
  justify-content: space-around;
}

.nav li{
  list-style: none;
  padding: 5px;
  margin-right: 10px;
}

.nav a{
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  /* color: #364f6b; */
  color: #000;
}

/* CONTAINER */

.container-custom{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  width: 40%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.box h1{
  font-size: 5rem;
}

.box p{
  text-align: justify;
}

/* DESTINATIONS */
/* background: rgba(255, 255, 255, 0.3); */

#dest{
  background: rgba(255, 255, 255, 0.3);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

#dest h1{
  font-size: 3rem;
}

.img-custom{
  transform: scale(0.9);
  margin-bottom: 10px;
  transition: 500ms ease;
}

.img-custom:hover{
  transform: scale(1);
}

